@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conteudo dinamico da pagina</h1>
    <p>Documentação: <a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core</a>.</p>
</div>
